@model IEnumerable<InfoMallWebService.Dtos.ClienteleDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OldImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClienteleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClienteleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClienteleId })
            </td>
        </tr>
}
    </tbody>
</table>
